<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perceptron Classifier</title>
    <link rel="stylesheet" href="{{url_for('static',filename = 'css/style.css')}}">
</head>
<body>
    <div class="content">
        <img src="{{url_for('static',filename = 'images/Green.png')}}" alt="">
        <p class="result-versi">This flower is a <strong>Versicolor</strong></p>
    </div>
    <script src="{{url_for('static',filename = 'js/script.js')}}"></script>
</body>
</html>